<h2>Creer un candidat</h2>
<form (ngSubmit)="updateData()" [formGroup]="candidatUpdateForm">
  <div class="form-floating mb-3" hidden>
    <input type="number" class="form-control" id="floatingInput" placeholder="code du candidat"
      formControlName="codeCandidat" [(ngModel)]="codeCandidat">
    <label for="floatingInput">code</label>
  </div>
  <div class="form-floating mb-3">
    <input type="email" class="form-control" id="floatingInput" placeholder="nom"
      formControlName="firstname" [(ngModel)]="firstname">
    <label for="floatingInput">Nom</label>
  </div>
  <div class="form-floating mb-3">
    <input type="email" class="form-control" id="floatingInput"  formControlName="lastname"
      placeholder="prenom" [(ngModel)]="lastname">
    <label for="floatingInput" >Prenom</label>
  </div>
  <div class="form-floating mb-3">
    <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com"
    formControlName="email" [(ngModel)]="email">
    <label for="floatingInput" >Email</label>
  </div>
  <div class="form-floating mb-3">
    <input type="number" class="form-control" id="floatingInput" placeholder="numero de telephone"
    formControlName="telephone" [(ngModel)]="telephone">
    <label for="floatingInput">Telephone</label>
  </div>
  <div class="form-floating">
    <input type="date" class="form-control" id="floatingPassword" placeholder="date de naissance"
    formControlName="birthdate" [(ngModel)]="birthdate">
    <label for="floatingPassword" >Date de naissance</label>
  </div>
  <select class="form-select form-select mt-3" aria-label="Large select example" formControlName="sex" value="Votre sexe"
  [(ngModel)]="sex">
    <option selected value="masculin" >Masculin</option>
    <option value="feminin">Feminin</option>
  </select>
  <button class="btn btn-primary mt-3" type="submit" [disabled]="candidatUpdateForm.invalid">
    <span *ngIf="!submitting">Soumettre</span>
    <div *ngIf="submitting" class="spinner-border text-sucess" role="status">
      <span class="sr-only"></span>
    </div></button>
</form>
