<p-table #dt [rows]="5" [loading]="isGettingAll" [rowHover]="true" [paginator]="true" [value]="noteList"
  sortMode="multiple" responsiveLayout="scroll" [resizableColumns]="true"
  currentPageReportTemplate="affiche {first} à {last} sur {totalRecords} entrées" [showCurrentPageReport]="true"
  [globalFilterFields]="['codeNote', 'codeEtudiant', 'Matiere', 'Note', 'dateEnregistrement' ]"
  [tableStyle]="{'min-width': '60em', 'font-size': '1.2rem'}">
  <ng-template pTemplate="caption">
    <div class="d-flex p-ai-center justify-content-between">
      <h4 class="p-m-0"></h4>
      <span class="p-input-icon-left" style="display: flex; align-items: center; width:30%">
        <i class="fi fi-br-search"></i>
        <input pInputText [(ngModel)]="search" (input)="dt.filterGlobal(search, 'contains')" type="text"
          class="form-control" style="padding-left: 50px; " placeholder="Rechercher..." />
      </span>
    </div>
  </ng-template>
  <ng-template pTemplate="header">
    <tr>
      <th pSortableColumn="codeNote">Code Note<p-sortIcon field="codeNote"></p-sortIcon>
      </th>
      <th pSortableColumn="codeEtudiant">Code etudiant<p-sortIcon field="codeEtudiant"></p-sortIcon></th>
      <th pSortableColumn="Matiere">Matiere<p-sortIcon field="Matiere"></p-sortIcon></th>
      <th pSortableColumn="Note">Note<p-sortIcon field="Note"></p-sortIcon></th>
      <th pSortableColumn="dateEnregistrement">Date enregistrement<p-sortIcon field="dateEnregistrement"></p-sortIcon>
      </th>
      <th pSortableColumn="dateEnregistrement">Statut<p-sortIcon field="dateEnregistrement"></p-sortIcon>
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-noteItem>
    <tr>
      <td>{{ noteItem.codeNote }}</td>
      <td>{{ noteItem.codeEtudiant }}</td>
      <td>{{ noteItem.matiere.libelleMatiere }}</td>
      <td>{{ noteItem.valeurNote }}</td>
      <td>{{ noteItem.dateEnregistrement | date }}</td>
      <td>
        <button class="btn btn-success"  *ngIf="noteItem.valeurNote >= 10">
          VALIDE
        </button>
        <button class="btn btn-danger" *ngIf="noteItem.valeurNote < 10">
          ECHOUE
        </button>
      </td>
      <td>
        <button class="btn btn-primary" style="width: 100px;" (click)="showUpdate(noteItem)"
          *ngIf="user.role == 'admin'">
          Update
        </button>
      </td>
    </tr>
  </ng-template>
</p-table>
