<button (click)="show()" icon="pi pi-info-circle" label="Show" class="btn btn-primary" *ngIf="user.role == 'admin'">
  <i class="pi pi-pencil" style="font-size: 1.1rem"></i>
  Inserer une note
</button>

<div>
  <h1>Note List</h1>
  <app-notes-item [noteList]="note" [isGettingAll]="loading"></app-notes-item>
</div>
