<button (click)="show()" icon="pi pi-info-circle" label="Show" class="btn btn-primary">
  <i class="pi pi-pencil" style="font-size: 1.1rem"></i>
  Ajouter un etudiant
</button>

<div>
  <h1>Etudiants List</h1>
  <app-etudiant-item [candidatList]="etudiants" [isGettingAll]="loading"></app-etudiant-item>
</div>
