<p-table #dt [rows]="5" [loading]="isGettingAll" [rowHover]="true" [paginator]="true" [value]="inscriptionList"
  sortMode="multiple" responsiveLayout="scroll" [resizableColumns]="true"
  currentPageReportTemplate="affiche {first} à {last} sur {totalRecords} entrées" [showCurrentPageReport]="true"
  [globalFilterFields]="['code Inscription', 'codeCandidat', 'date inscription', 'date modification', 'statut']"
  [tableStyle]="{'min-width': '60em', 'font-size': '1.2rem'}">
  <ng-template pTemplate="caption">
    <div class="d-flex p-ai-center justify-content-between">
      <h4 class="p-m-0"></h4>
      <span class="p-input-icon-left" style="display: flex; align-items: center; width:30%">
        <i class="fi fi-br-search"></i>
        <input pInputText [(ngModel)]="search" (input)="dt.filterGlobal(search, 'contains')" type="text"
          class="form-control" style="padding-left: 50px; " placeholder="Rechercher..." />
      </span>
    </div>
  </ng-template>
  <ng-template pTemplate="header">
    <tr>
      <th pSortableColumn="firstname">Code etudiant<p-sortIcon field="firstname"></p-sortIcon></th>
      <th pSortableColumn="lastname">Date Inscription<p-sortIcon field="lastname"></p-sortIcon>
      </th>
      <th pSortableColumn="lastname">Date modification<p-sortIcon field="lastname"></p-sortIcon>
      </th>
      <th SortableColumn="lastname">Statut<p-sortIcon field="lastname"></p-sortIcon></th>
      <th *ngIf="user.role === 'admin'">Actions</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-inscriptionItem>
    <tr>
      <td>{{ inscriptionItem.codeEtudiant }}</td>
      <td>{{ inscriptionItem.dateInscription | date }}</td>
      <td>{{ inscriptionItem.dateModification | date }}</td>
      <td *ngIf="inscriptionItem.statut === 'PAYEE'">
        <button class="btn btn-success">
          {{ inscriptionItem.statut }}
        </button>
      </td>
      <td *ngIf="inscriptionItem.statut === 'EN COURS'">
        <button class="btn btn-warning">
          {{ inscriptionItem.statut }}
        </button>
      </td>
      <td>
        <button class="btn btn-primary" style="width: 100px;" (click)="showUpdate(inscriptionItem)" *ngIf="user.role === 'admin'">
          Update
        </button>
      </td>
    </tr>
  </ng-template>
</p-table>

