nav {
  width: 100%;
  height: 100px;
  // box-shadow: 5px 1px 5px 0 rgba(0, 0, 0, 0.5);
  // border-bottom: 1px solid gray;

  display: flex;
  justify-content: flex-end;
  align-items: center;

  padding-right: 25px;

  .avatar {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .icon {
    margin-right: 50px;

    i {
      margin-right: 15px;
      color: #FFFFFF;
    }
  }
}

.header {
  background-color: #2a579a;
  color: #FFFFFF;
}

h5 {
  margin-left: 25px;
}
