<nav class="navbar navbar-expand-lg header">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
      <h5>TP de Systeme d'information</h5>
      <div class="collapse navbar-collapse d-flex justify-content-end" id="navbarNavAltMarkup">
      <div class="navbar-nav icon">
        <i class="pi pi-bell mr-4 p-text-secondary" style="font-size: 1.5rem" pBadge value="2" severity="warning"></i>
        <i class="pi pi-envelope mr-4 p-text-secondary" style="font-size: 1.5rem" pBadge value="2"></i>
        <i class="pi pi-star mr-4 p-text-secondary" style="font-size: 1.5rem" pBadge value="2" severity="danger"></i>
      </div>
      <section class="avatar">
        <p-avatar image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png" styleClass="mr-2" size="large" shape="circle"></p-avatar>
        {{user.firstname}} {{user.lastname}}
      </section>
    </div>
  </div>
</nav>
