<p-table #dt [rows]="5" [loading]="isGettingAll" [rowHover]="true" [paginator]="true" [value]="candidatList"
  sortMode="multiple" responsiveLayout="scroll" [resizableColumns]="true"
  currentPageReportTemplate="affiche {first} à {last} sur {totalRecords} entrées" [showCurrentPageReport]="true"
  [globalFilterFields]="['codeCandidat', 'firstname' , 'lastname', 'email', 'telephone']"
  [tableStyle]="{'min-width': '60em', 'font-size': '1.2rem'}">
  <ng-template pTemplate="caption">
    <div class="d-flex p-ai-center justify-content-between">
      <h4 class="p-m-0">
      </h4>
      <span class="p-input-icon-left" style="display: flex; align-items: center; width:30%">
        <i class="fi fi-br-search"></i>
        <input pInputText [(ngModel)]="search" (input)="dt.filterGlobal(search, 'contains')" type="text"
          class="form-control" style="padding-left: 50px; " placeholder="Rechercher..." />
      </span>
    </div>
  </ng-template>
  <ng-template pTemplate="header">
    <tr>
      <th pSortableColumn="codeCandidat">Code<p-sortIcon field="codeCandidat"></p-sortIcon>
      </th>
      <th pSortableColumn="firstname">Nom<p-sortIcon field="firstname"></p-sortIcon></th>
      <th pSortableColumn="lastname">Prenom<p-sortIcon field="lastname"></p-sortIcon>
      </th>
      <th pSortableColumn="email">Email<p-sortIcon field="email"></p-sortIcon>
      </th>
      <th pSortableColumn="telephone">Telephone<p-sortIcon field="telephone"></p-sortIcon>
      </th>
      <th>Actions</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-candidatItem>
    <tr>
      <td>{{candidatItem.codeCandidat}}</td>
      <td>{{candidatItem.firstname}}</td>
      <td>{{candidatItem.lastname }}</td>
      <td>{{candidatItem.email}}</td>
      <td>{{candidatItem.telephone}}</td>
      <td>
        <button class="btn btn-primary" style="width: 100px;" (click)="showUpdate(candidatItem)">
          Update
        </button>
        <!-- <button class="btn btn-danger">
           Delete
        </button> -->
      </td>
    </tr>
  </ng-template>
</p-table>

