div {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .shared {
    width: 100%;
  }

  .element {
    display: flex;

    .root {
      margin: 100px;
    }
  }
}
