<div>
  <section class="shared">
    <app-header></app-header>
  </section>
  <section class="element">
    <app-sidebar></app-sidebar>
    <section class="root">
      <router-outlet></router-outlet>
    </section>
  </section>

</div>
