<h2>Inscrire candidat</h2>
<form (ngSubmit)="sendData()" [formGroup]="noteForm">
  <select class="form-select form-select mb-3" aria-label="Large select example" formControlName="codeEtudiant" [(ngModel)]="candidats.codeCandidat">
    <option [value]="candidats.codeCandidat">{{candidats.firstname}} {{candidats.lastname}}</option>
  </select>
  <select class="form-select form-select mb-3" aria-label="Large select example" formControlName="matiere"
    [(ngModel)]="matieres.codeMatiere" >
    <option selected [value]="matieres.codeMatiere">{{matieres.libelleMatiere}}</option>
  </select>
  <div class="form-floating mb-3" hidden>
    <input type="number" class="form-control" id="floatingInput" placeholder="code de la note"
      formControlName="codeNote" [(ngModel)]="codeNote">
    <label for="floatingInput">Code Note</label>
  </div>
  <div class="form-floating mb-3">
    <input type="number" class="form-control" id="floatingInput" placeholder="la note" formControlName="valeurNote"
      [(ngModel)]="valeurNote">
    <label for="floatingInput">Valeur note</label>
  </div>
  <button class="btn btn-primary mt-3" type="submit" [disabled]="noteForm.invalid">
    <span *ngIf="!submitting">Soumettre</span>
    <div *ngIf="submitting" class="spinner-border text-sucess" role="status">
      <span class="sr-only"></span>
    </div>
  </button>
</form>
