<button (click)="show()" icon="pi pi-info-circle" label="Show" class="btn btn-primary" *ngIf="user.role === 'admin'">
  <i class="pi pi-pencil" style="font-size: 1.1rem"></i>
  Inscrire un candidat
</button>

<div>
  <h1>Inscription List</h1>
  <app-inscription-item [inscriptionList]="inscription" [isGettingAll]="loading"></app-inscription-item>
</div>
