<div class="background">
  <div class="container login_box_area">
      <div class="row">
          <div class="col-md-6 col-sm-12 col-xs-12 image-fluid login_box_area_image">
              <img src="../../../../assets/images/saint2.jpg" alt="">*
          </div>
          <div class="col-md-6 col-sm-12 col-xs-12 login_box_area_form">
              <form action="" [formGroup]="loginForm" action="#" (submit)="login()" method="post">
                  <h3>Connexion</h3>
                  <div class="form-floating mb-3">
                      <input type="text" class="form-control" formControlName="codeCandidat" id="code"
                          placeholder="Votre code">
                      <label for="email">Code d'authentification* </label>
                  </div>
                  <div class="form-floating mb-3">
                      <input type="password" class="form-control" formControlName="password"
                          placeholder="Mot de passe" id="code">
                      <label for="code">Password*</label>
                  </div>
                  <div class="checkbox_group">
                      <div class="form-check mb-3">
                          <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                          <label class="form-check-label" for="flexCheckDefault">
                              Se Souvenir de moi
                          </label>
                      </div>
                  </div>
                  <button type="submit" class="btn btn-primary col-sm-12 col-xs-12 "
                      [disabled]="loginForm.invalid || submitting"><span *ngIf="!submitting">connexion</span>
                      <div *ngIf="submitting" class="spinner-border text-sucess" role="status">
                          <span class="sr-only"></span>
                      </div>
                  </button>
                  <hr>
                  <li class="forgot_password">
                      <span>Mot De Passe Oublié?</span>
                  </li>
                  <li class="forgot_password otherForm mt-3">
                      <span (click)="formPersonnel()">Membre du personnel?</span>
                  </li>
              </form>
          </div>
      </div>
  </div>
</div>

<p-toast></p-toast>
