.background {
  position: relative;
  width: 100%;
  height: 100vh;
  // background: url('../../../../assets/images/Campus-1.jpg') no-repeat fixed center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;

}

.background::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  // background: linear-gradient(to bottom, rgba(1, 1, 24), rgba(1, 1, 24, 0.555));
  z-index: 0;
}

.login_box_area {
  /* width: 60% !important; */
  height: auto;
  border: none;
  border-radius: 10px;
  background-color: white;
  z-index: 3;
}

.login_box_area .row .login_box_area_image {
  position: relative;
  padding: 0;
}

.login_box_area .row .login_box_area_image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-top-left-radius: 10px;
  border: none;
}

.login_box_area .row .login_box_area_image::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /* position: fixed; */
  width: 100%;
  height: 100%;
  // background: linear-gradient(to right, #4fa55c7a, #5087bb73);
  background: rgba(1, 1, 24, 0.678);
  z-index: 1;
  border-top-left-radius: 10px;
}

.login_box_area .row .login_box_area_image .hello {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* text-align: center; */
  z-index: 550;
  color: white;
}

.login_box_area .row .login_box_area_image .hello h2 {
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: bold;
  font-size: 2em;
  margin-bottom: 2em;
  text-align: center;
}

.login_box_area .row .login_box_area_image .hello p {
  text-align: center;
  font-size: 18px;
  width: 100%;
  /* margin: auto; */
  opacity: .9;
}

.login_box_area_form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login_box_area_form form {
  width: 80%;
  margin-top: 100px;
  margin-bottom: 100px;
  opacity: .9;
}

// .image img{
//   background-size: contain;
// }

@media(max-width=767px) {}

.login_box_area_form form h3 {
  text-align: center;
  font-weight: bold;
  margin-bottom: 20px;
}

.login_box_area_form form input {
  margin-bottom: 30px;
  border-radius: 5px;
}

.login_box_area_form form .checkbox_group span span {
  font-weight: 600;
  cursor: pointer;
}

.login_box_area_form form .checkbox_group input {
  cursor: pointer;
}

.login_box_area_form form .btn_connect {
  /* background: linear-gradient(to right, #89253e, #3a6186) !important; */
  width: 100%;
  border: none;
  border-radius: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 20px;
  font-weight: bold;
  outline: none;
}

input[type=text],
input[type=password] {
  background: rgb(199 199 241 / 53%);
  border: none;
  outline: none;
  font-size: 1em;
  font-weight: 500;
  color: black;
}

button[type=submit] {
  // background: rgba(1, 1, 24);
  border: none;
  padding-top: 12px !important;
  padding-bottom: 12px;
  width: 100%;
  font-size: 1.2em;
  font-weight: 500;
  color: white;
}

// input[type=submit]:hover {
//   // background: rgba(1, 1, 24, 0.849);
// }

// input[type=submit]:active {
//   // background: rgba(1, 1, 24, 0.712);
// }

.login_box_area_form form .btn_connect:hover {
  border: none;
  /* background: linear-gradient(to right, #521826, #11202e) !important; */
}

.login_box_area_form form .btn_connect:active {
  outline: none;
  border: none;
  /* background: linear-gradient(to right, #83293e, #254664) !important; */
}

@media(max-width=580px) {
  .login_box_area_form form .btn_connect {
      width: 100%;
  }
}

.login_box_area_form form .forgot_password {
  text-align: center;
  list-style-type: none;
  cursor: pointer;
  color: rgba(1, 1, 24);
}

.login_box_area_form form .forgot_password a {
  text-decoration: none;
}

.bg_google {
  background: #d62516 !important;
}

.bg_facebook {
  /* background: #3b5998 !important; */
  background: #0a2150 !important;
  padding-top: 5px !important;
  padding-bottom: 5px !important;
}
