/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

@import "/node_modules/primeng/resources/themes/lara-light-blue/theme.css";
@import "/node_modules/primeng/resources/primeng.min.css";
@import "/node_modules/primeicons/primeicons.css";


* {
  font-family: 'Poppins', sans-serif;
  padding: 0;
  margin: 0;
}
