<h2>Inscrire candidat</h2>
<form (ngSubmit)="sendData()" [formGroup]="inscriptionForm">
  <select class="form-select form-select mb-3" aria-label="Large select example" formControlName="codeEtudiant">
    <option selected>Nom candidat</option>
    <option [value]="item.codeCandidat" *ngFor="let item of candidats">{{item.firstname}} {{item.lastname}}</option>
  </select>
  <div class="form-floating mb-3">
    <input type="number" class="form-control" id="floatingInput" placeholder="numero de telephone"
    formControlName="montant">
    <label for="floatingInput">Montant</label>
  </div>
  <button class="btn btn-primary mt-3" type="submit" [disabled]="inscriptionForm.invalid">
    <span *ngIf="!submitting">Soumettre</span>
    <div *ngIf="submitting" class="spinner-border text-sucess" role="status">
      <span class="sr-only"></span>
    </div>
  </button>
</form>
