<div class="sidebar">
  <div>
    <ul>
      <a routerLink="/app/candidat-list" *ngIf="user.role === 'admin'">
        <li>
          <i class="pi pi-user" style="font-size: 1.1rem"></i>
          Tous les candidats
        </li>
      </a>
      <a routerLink="/app/etudiant-list" *ngIf="user.role === 'admin'">
        <li>
          <i class="pi pi-user" style="font-size: 1.1rem"></i>
          Tous les etudiants
        </li>
      </a>
      <a routerLink="/app/note-list">
        <li>
          <i class="pi pi-user" style="font-size: 1.1rem"></i>
          Toutes les notes
        </li>
      </a>
      <a routerLink="/app/inscription-list">
        <li>
          <i class="pi pi-user" style="font-size: 1.1rem"></i>
          Toutes les inscriptions
        </li>
      </a>
      <a class="mt-10" (click)="logout()">
        <li>
          <i class="pi pi-user" style="font-size: 1.1rem"></i>
          Deconnexion
        </li>
      </a>
    </ul>
  </div>
</div>

<!-- <p-button (click)="sidebarVisible = true" icon="pi pi-arrow-right"></p-button> -->
