div {
  width: 300px;
  // box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.5);
  height: 100vh;
  // border-right: solid 1px gray;

  section {
    width: 100%;
    padding: 25px;
    font-size: 25px;
  }
}

ul {
  width: 100%;

  a {
    text-decoration: none;
    text-decoration-color: none;
    color: #FFFFFF;

    li {
      list-style: none;
      padding-left: 15px;
      padding-top: 25px;
      padding-bottom: 25px;

      &:hover {
        background-color: #f5f5f5;
        color: rgb(46, 51, 121);
        padding-left: 20px;
        transition: 0.5s;
      }
    }
  }

}

.sidebar {
  background-color: #2a579a;
  color: #FFFFFF;
}
