<button (click)="show()" icon="pi pi-info-circle" label="Show" class="btn btn-primary">
  <i class="pi pi-pencil" style="font-size: 1.1rem"></i>
  Ajouter un candidat
</button>

<div>
  <h1>Candidat List</h1>
  <app-candidat-item [candidatList]="candidats" [isGettingAll]="loading"></app-candidat-item>
</div>

<p-toast></p-toast>

